<fieldset>
  <legend>Profilbild für's Intranet Aktualisieren</legend>

  <%= form_tag('/my/avatar', multipart: true) do %>
    <p>
      <label>JPEG auswählen:</label>
      <%= file_field_tag :jpeg, accept: 'image/jpeg' %>
    </p>
    <%= submit_tag 'Hochladen' %>
  <% end %>
</fieldset>